.header-area {
    background: none repeat scroll 0 0 #65b3e7;
}
.header-area a {
    color: rgb(255, 255, 255);
}
.user-menu ul {
    list-style: outside none none;
    margin: 2px;
    padding: 2px;
}
.user-menu li {
    display: inline-block;
}
.user-menu li a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    padding: 10px;
}
.user-menu li a i.fa {
    margin-right: 5px;
}
.header-right ul.list-inline {
    margin: 0;
    text-align: right;
}
.header-right ul.list-inline li a {
    display: block;
    padding: 9px;
}
.header-right ul.list-inline li ul a {
    padding: 5px 15px;
}
.header-right ul.list-inline li ul {
    border: medium none;
    border-radius: 0;
    left: 50%;
    margin-left: -50px;
    min-width: 100px;
    text-align: center;
}